body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #171836;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 20px;
}

.tit {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
